# Dependencies
node_modules
.pnpm-store

# Build output
**/dist
**/.next
**/.turbo

# Git
.git
.gitignore

# Environment
.env
.env.example
.env.local
.env.*.local

# Caching
.cache

# IDE
.idea
.vscode
*.swp
*.swo

# Documentation
README.md
*.md

# Test files
**/*.test.ts
**/*.spec.ts
__tests__

# OS-specific
.DS_Store
